

body, html {
  height: 100%;
  background-color: #9177AC;
  font-family: Arial, Helvetica, sans-serif; 
}



.button{
text-decoration: none;
border: 1px solid #49167d;
background-color: #49167d;
color: white;
border-radius: 25px;
padding: 2px;
margin-top: 10px;
opacity: 0.9;
}

.button:hover {
text-decoration: none;
border: 1px solid white;
background-color: white;
color: #9177AC;
border-radius: 25px;
padding: 2px;
margin-top: 10px;
}

#buttonMain{
font-size: 2rem;
}

#buttonSignUp{
text-align: center;
margin-top: .7rem;
padding: 1rem;
}


.contactMe{
color: white;
font-size: 2rem;
padding: 1rem;
}

#contactTitle{
  text-align: center;
  padding: 1rem;
}

#credentialTitle, .faqTitles{
  text-align: center;
  color: white;
  font-size: 2rem;
}

.credentialDetails, .contactMeDetails{
  border: .2rem solid #49167d;
  font-size: 1.5rem;
  margin: auto;
  margin-bottom: .5rem;
  /* background-image: url("https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #e6e6e6;
  position: relative;
  color: #49167d;
  width: 45%;
  word-wrap: break-word;
  padding: 1rem;
}

#footer{
  width: 100%;
  height: 3.5rem;
  word-wrap: break-word;
  /* background-image: url("https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #e6e6e6;
  color: #49167d;
  text-align: center;
  font-size: 1.5rem;
  bottom: 0;
}

#heroContactPic {
width: 20rem;
display: block;
margin-left: auto;
margin-right: auto;
border: 1px solid black;
margin-top: 5rem;
}

.heroSection {
color: white;
height: 50%;
}

#heroText {
font-size: 4rem;
text-align: center;
}

#heroTitle{
font-size: 0.5em;
margin-top: -1rem;
margin-bottom: -5rem;
}

.navBar {
display: flex;
flex-direction: row;
justify-content: center;
font-size: 1.3rem;
flex-wrap: wrap; 
padding: 1rem;
-webkit-transition: display 2s;
}

.navBar a {
text-decoration: none;
padding: 10px;
}

.navLink a:hover {
color: #9177AC;
cursor: pointer;
}

.navLink a:hover + .subNavLink {
  display: block;
}

.subNavLink:hover{
  display: block;
  opacity: 0.5;
}

.navLink {
text-align: center;
border: 1px solid white;
border-radius: 25px;
margin: 10px;
background-color: white;
width: 15rem;
height: 2rem;
}

.subNavLink {
text-align: center;
margin: 10px;
width: 13rem;
display: none;
background:white;
border-radius: 25px;
}


.reference{
border: .2rem solid black;
width: 15rem;
margin: 1rem;
background-color: #FBEEC1;
padding: .2rem;
}

.referenceImage{
width: 15rem;
}

#referenceSectionContainer{
display: flex;
flex-direction: row;
color: black;
flex-wrap: wrap;
justify-content: space-around;  

}

#referenceTitle{
color: white;
font-size: 2.5rem;
text-align: center;
}

#sayKarenLogo {
  height: 3.2rem;
}

.services, .faq {
display: flex;
flex-direction: row;
color: black;
flex-wrap: wrap;
justify-content: space-around;

}

.serviceSingleSection, .faqBox{
padding: 2.5rem;
width: 27rem;
border: .2rem solid black;
position: relative;
margin: 1rem;
background-color: #e6e6e6;
}


.serviceHeading, .faqQuestion {
border-bottom: .1rem solid black;
font-size: 1.5rem;
font-weight: bolder;
}


