@import "./variables.scss";
@import "./Navigation.scss";
@import "./Footer.scss";
@import "./Services.scss";
@import "./HomeSection.scss";

body,
html {
  height: 100%;
  background-color: $secondary-color;
  font-family: Papyrus, Garamond, Helvetica, sans-serif;
}

.strong {
  font-weight: bold;
}

#mainApp{
  min-height: 90vh;
}
.web_section_title {
  text-align: center;
  font-size: 2em;
  text-shadow:  4px 2px 0.5px rgba(0,0,0,0.15);
  margin-left: 10px;
}

.web_section_box{
  padding-top: 30px;
}