@import "./variables.scss";

#footer {
  position: relative;
  width: 100%;
  height: auto;
  word-wrap: break-word;
  color: $primary-color;
  text-align: right;
  font-size: 12px;
  bottom: 0;

}

.floatRight {
  float: right;
  margin: 15px;
}


#sayKarenLogo {
  height: 2rem;
}