$primary-color: #A5005C;
$secondary-color: rgb(245, 245, 240);
$third-color: #1F2C3B;
$fourth-color: #DD9621;
$fifth-color: #F1E3DD;
$faq: #e6e6e6;
$link-color: #49167d;
$menu-color: white;
$dark-color: #1F2C3B;
$light-color: #1F2C3B;
$work-background: #e6e6e6;
