$primary-color: #A5005C;
$secondary-color: rgb(245, 245, 240);
$third-color: #1F2C3B;
$fourth-color: #DD9621;
$menu-color: white;
$dark-color: #1F2C3B;
$light-color: #1F2C3B;
$work-background: rgba(243, 243, 238, 0.3);
